#band {
    margin-top: 8rem;
}

#band h2{
    text-align: center;
    margin-bottom: 2rem;
    color: #FFEA02;
}

#band .about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    gap: 2rem;
    margin: 4rem 2rem;
    height: 50vh;
}

#band .about-container .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 2rem;
}

#band .about-container .about-text p:first-child{
    margin-bottom: 2rem;
}

#band .about-container .band-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#band .about-container .band-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#band .band-members{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem 2rem;

}

#band .band-members .member{
    height: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#band .band-members .member:hover{
    transform: scale(1.1);
}

#band .band-members .member p{
    margin-block: 2rem;
}

#band .band-members .member img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

@media  screen and (max-width: 320px) {
    #band{
        margin-top: 4rem;
    }

    #band h2{
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    #band .about-container{
        grid-template-rows: 30vh;
        gap: 1rem;
        margin: 1rem;
        height: 30vh;
    }

    #band .about-container .about-text{
        padding: 0;
    }

    #band .about-container .about-text p{
        font-size: 0.4rem;
    }

    #band .about-container .about-text p:first-child{
        margin-bottom: 1rem;
    }
    
    #band .about-container .band-image img{
        width: 10rem;
        height: 10rem;
    }

    #band .band-members{
        height: 15vh;
        gap: 2rem;
        margin: 2rem 1rem;
    }


    #band .band-members .member img{
        width: 5rem;
        height: 5rem;
    }

    #band .band-members .member p{
        margin-block: 1rem;
        font-size: 0.4rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    #band{
        margin-top: 4rem;
    }

    #band h2{
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    #band .about-container{
        grid-template-rows: 35vh;
        gap: 1.5rem;
        margin: 1.5rem;
        height: 35vh;
    }

    #band .about-container .about-text{
        padding: 0.5rem;
    }

    #band .about-container .about-text p{
        font-size: 0.4rem;
    }

    #band .about-container .about-text p:first-child{
        margin-bottom: 1.2rem;
    }
    
    #band .about-container .band-image img{
        width: 12rem;
        height: 12rem;
    }

    #band .band-members{
        height: 20vh;
        gap: 2rem;
        margin: 2rem 1rem;
    }


    #band .band-members .member img{
        width: 6rem;
        height: 6rem;
    }

    #band .band-members .member p{
        margin-block: 1rem;
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
    #band{
        margin-top: 5rem;
    }

    #band h2{
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
    }

    #band .about-container{
        grid-template-rows: 40vh;
        gap: 1rem;
        margin: 1rem;
        height: 40vh;
    }

    #band .about-container .about-text{
        padding: 0.2rem;
    }

    #band .about-container .about-text p{
        font-size: 0.5rem;
    }

    #band .about-container .about-text p:first-child{
        margin-bottom: 1.5rem;
    }
    
    #band .about-container .band-image img{
        width: 15rem;
        height: 15rem;
    }

    #band .band-members{
        height: 25vh;
        gap: 2.2rem;
        margin: 2.2rem 1.2rem;
    }


    #band .band-members .member img{
        width: 7rem;
        height: 7rem;
    }

    #band .band-members .member p{
        margin-block: 1.2rem;
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
    #band{
        margin-top: 6rem;
    }

    #band h2{
        font-size: 1rem;
        margin-bottom: 1.4rem;
    }

    #band .about-container{
        grid-template-rows: 45vh;
        gap: 1.2rem;
        margin: 1.2rem;
        height: 45vh;
    }

    #band .about-container .about-text{
        padding: 0.4rem;
    }

    #band .about-container .about-text p{
        font-size: 0.8rem;
    }

    #band .about-container .about-text p:first-child{
        margin-bottom: 1.8rem;
    }
    
    #band .about-container .band-image img{
        width: 20rem;
        height: 20rem;
    }

    #band .band-members{
        height: 30vh;
        gap: 2.4rem;
        margin: 2.4rem 1.4rem;
    }


    #band .band-members .member img{
        width: 8rem;
        height: 8rem;
    }

    #band .band-members .member p{
        margin-block: 1.4rem;
        font-size: 0.8rem;
    }
}

