.content {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none
}

.mySlides .text h3{
    margin-block: 1rem;
    color: #FFEA02;
}

@media screen and (max-width: 320px) {
    .mySlides{
        width: 100%;
    }

    .mySlides img{
        width: 100%;
    }

    .mySlides .text{
        margin-left: .6rem;
    }

    .mySlides .text h3{
        margin-block: 0.5rem;
        font-size: 0.5rem;
    }

    .mySlides .text p{
        font-size: 0.4rem;
    }

    .content{
        margin-top: 4rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    .content{
        margin-top: 4rem;
    }

    .mySlides{
        width: 100%;
    }

    .mySlides img{
        width: 100%;
    }

    .mySlides .text{
        margin-left: .7rem;
    }

    .mySlides .text h3{
        margin-block: 0.7rem;
        font-size: 0.6rem;
    }

    .mySlides .text p{
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
    .content{
        margin-top: 5rem;
    }
    
    .mySlides{
        width: 100%;
    }

    .mySlides img{
        width: 100%;
    }

    .mySlides .text{
        margin-left: .8rem;
    }

    .mySlides .text h3{
        margin-block: 0.8rem;
        font-size: 0.7rem;
    }

    .mySlides .text p{
        font-size: 0.7rem;
    }
}